@model IEnumerable<Products_Web_App.Models.ProductModel>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="container d-flex flex-wrap">
    @foreach(var item in Model)
    {
        var s = item.Name;
        var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;
        <div class="card" style="width: 18rem;">
          <img src="https://loremflickr.com/g/150/150/@firstWord?lock=@item.Id" class="card-img-top" alt="@item.Name">
          <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@Html.DisplayFor(m => item.Price)</p>
            <p class="card-text">@item.Description</p>
            <a href="/product/ShowDetails/@item.Id" class="btn btn-primary">Show details</a>
          </div>
        </div>
    }
</div>
